@import "../site-builder-base";
//
// Three Regions split 3-9--12
//
// ---------------------------------------------------------------------------

.threecol-split-row-3-9--12 {

  // Two or three regions have layout.
  .hr--1-2,
  .arc--3 {
    .l-r:first-child {
      @include span(3 of 12);
    }
  }

  .hr--1-2 .l-r:last-child,
  .arc--3 .l-r:nth-child(2) {
    @include span(9 of 12 last);
  }

  // All 3col regions are active.
  .arc--3 .l-r:last-child {
    clear: both;
  }
}
