/**
 * Responsive menu styles.
 *
 * Mixins provide the basic structure and a base style (not much), the rest
 * is up to you, add colors, borders, padding and so on. Icons such as
 * the hamburger and arrows are set in variables in _variables.scss, and you
 * use the color variables for menus from there also.
 *
 * Menu styles are set in Appearance settings using the Responsive Menus extension.
 * There you select a block, breakpoint, a default style and a responsive style.
 * You can safely remove mixins from this file if you not going to use them later
 * on, and want to save a few bytes in stylesheet size.
 *
 * Each mixin takes one or more parameters. Use these to customize the basic
 * structure of the menu, or call options, for example you can place the
 * offcanvas menu on the left or right.
 *
 * Do not import into breakpoints unless you are not using the Responsive Menu
 * settings in Appearance Extensions, in which case you will need to load the
 * at_core/at.responsivemenus library and provide it's required drupalSettings.
 *
 * Breakpoints are handled in matchMedia using Enquire.
 *
 * Responsive styles are a combination of three things:
 *  1. Sass/CSS defined here (with breakpoints etc).
 *  2. jQuery: at.responsiveMenus.js which adds/toggles classes etc.
 *  3. Theme settings as set in your themes extension settings.
 ============================================================================ */
.rm-region {
  padding: 0;
  margin: 0;
}
.rm-region .contextual-region {
  position: static;
}
.rm-region .contextual-region .contextual {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  word-wrap: normal;
  font: 0/0 a;
}
.rm-region [class*='is-vertical-'] {
  position: absolute;
  z-index: 480;
}

.ms-vertical .rm-toggle {
  display: none;
}

.rm-toggle {
  font-size: 16px;
  font-size: 1rem;
  line-height: 21px;
  line-height: 1.3125rem;
  padding: 7px 16px;
  padding: 0.4375rem 1rem;
  margin: 0;
}
.rm-toggle__link, .rm-toggle__link:hover, .rm-toggle__link:focus, .rm-toggle__link:active {
  padding: 8px 16px 4px 12px;
  padding: 0.5rem 1rem 0.25rem 0.75rem;
  height: auto;
  border-radius: 2px;
  cursor: pointer;
}
.rm-toggle__icon {
  position: relative;
  height: 16px;
  height: 1rem;
  width: 16px;
  width: 1rem;
}
.rm-toggle__label {
  top: -2px;
  top: -0.125rem;
  position: relative;
}

.rm-block__content .menu {
  position: relative;
}
.rm-block__content .menu > .menu__item {
  z-index: 490;
  position: relative;
}
.rm-block__content__item {
  position: relative;
  vertical-align: middle;
  font-size: 16px;
  font-size: 1rem;
  line-height: 21px;
  line-height: 1.3125rem;
}
.rm-block__content__item:first-child a {
  border-top: 0;
}
.rm-block__content a {
  transition: all, 225ms, ease-in-out;
  font-weight: 300;
  margin: 0;
  border: 0;
}
.rm-block__content a:hover, .rm-block__content a:focus {
  text-decoration: none;
}

.no-js .rm-block a {
  padding: 7px;
  padding: 0.4375rem;
  margin: 1px 0;
  margin: 0.0625rem 0;
}

.pr-navbar__navbar .rm-block,
.pr-leaderboard__leaderboard .rm-block {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=maps/responsive-menus.css.map */