@charset "UTF-8";
/**
 * jQuery FlexSlider v2.3.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Ville Ristimäki (@villeristi)
 * Converted to SCSS syntax for Adaptivetheme by Jeff Burnz.
 */
.flex-container a:focus, .flex-slider a:focus, .flex-container a:focus, .flex-slider a:focus {
  outline: none;
}
.flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-pauseplay span {
  text-transform: capitalize;
}

/**
 * BASE STYLES
 ============================================================================ */
.flexslider {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  zoom: 1;
}
.flexslider .slides {
  margin: 0;
  padding: 0;
  list-style: none;
  zoom: 1;
}
.flexslider .slides > li {
  display: none;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.no-js .flexslider .slides > li:first-child {
  display: block;
}
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  width: 0;
}
html[xmlns] .flexslider .slides {
  display: block;
}
* html .flexslider .slides {
  height: 1%;
}

/**
 * DEFAULT THEME
 ============================================================================ */
.flexslider {
  background-color: #ffffff;
  border-radius: 0;
}

.flex-viewport {
  max-height: 2000px;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}

.flex-caption {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: left;
  margin: 0;
  padding: 16px 16px 29px;
  padding: 1rem 1rem 1.8125rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
@media all and (max-width: 45em) {
  .flex-caption {
    display: none;
  }
}

.flex-direction-nav a {
  background-color: transparent;
  color: transparent;
  border: 0;
  text-decoration: none;
  height: 30px;
  height: 1.875rem;
  margin: -30px 0 0;
  margin: -1.875rem 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  display: block;
  font: 0/0 a;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.flex-direction-nav a:hover, .flex-direction-nav a:focus, .flex-direction-nav a:active {
  background-color: transparent;
  color: transparent;
  border: 0;
  text-decoration: none;
}
.flex-direction-nav a:before {
  font-family: FontAwesome, sans-serif;
  content: "";
  font-size: 30px;
  font-size: 1.875rem;
  color: #ffffff;
  line-height: 1;
  text-align: left;
  display: none;
}
.fa-loaded .flex-direction-nav a:before {
  display: block;
}
.fa-unavailable .flex-direction-nav a:before {
  display: block;
  content: "\2329";
}
.flex-direction-nav .flex-prev {
  left: -50px;
}
@media all and (max-width: 60em) {
  .flex-direction-nav .flex-prev {
    opacity: 0.7;
    left: 10px;
  }
}
.flex-direction-nav .flex-next {
  right: -50px;
}
.flex-direction-nav .flex-next:before {
  content: "";
  text-align: right;
}
.fa-unavailable .flex-direction-nav .flex-next:before {
  content: "\232a";
}
@media all and (max-width: 60em) {
  .flex-direction-nav .flex-next {
    opacity: 0.7;
    right: 10px;
  }
}
.flexslider:hover .flex-direction-nav .flex-prev,
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover,
.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
}
.flexslider:hover .flex-direction-nav .flex-prev {
  left: 10px;
}
.flexslider:hover .flex-direction-nav .flex-next {
  right: 10px;
}
.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default;
}

.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  text-indent: -9999px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.flex-control-paging li a:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.flex-control-paging li a.flex-active {
  background-color: #000;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: default;
}

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer;
  transition: all 1s ease;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
/*# sourceMappingURL=maps/slideshows.css.map */