.threecol-split-row-12--6-6 .hr--2-3 .l-r, .threecol-split-row-12--6-6 .arc--3 .l-r:nth-child(2) { width: 49.15254%; float: left; margin-right: 1.69492%; }
.threecol-split-row-12--6-6 .hr--2-3 .l-r:last-child, .threecol-split-row-12--6-6 .arc--3 .l-r:last-child { width: 49.15254%; float: right; margin-right: 0; }
