.threecol-reverse-float-2-3-7 .hr--1-2 .l-r:last-child, .threecol-reverse-float-2-3-7 .hr--1-3 .l-r:last-child { width: 40.67797%; float: left; margin-right: 1.69492%; }
.threecol-reverse-float-2-3-7 .hr--2-3 .l-r { width: 49.15254%; float: left; margin-right: 1.69492%; }
.threecol-reverse-float-2-3-7 .hr--2-3 .l-r:last-child { float: right; margin-right: 0; }
.threecol-reverse-float-2-3-7 .arc--3 .l-r:nth-child(2) { width: 15.25424%; float: left; margin-right: 1.69492%; }
.threecol-reverse-float-2-3-7 .arc--3 .l-r:nth-child(3) { width: 23.72881%; float: left; margin-right: 1.69492%; }
.threecol-reverse-float-2-3-7 .hr--1-2 .l-r:first-child, .threecol-reverse-float-2-3-7 .hr--1-3 .l-r:first-child, .threecol-reverse-float-2-3-7 .arc--3 .l-r:first-child { width: 57.62712%; float: right; margin-right: 0; }
