.threecol-split-row-12--7-5 .hr--2-3 .l-r, .threecol-split-row-12--7-5 .arc--3 .l-r:nth-child(2) { width: 57.62712%; float: left; margin-right: 1.69492%; }
.threecol-split-row-12--7-5 .hr--2-3 .l-r:last-child, .threecol-split-row-12--7-5 .arc--3 .l-r:last-child { width: 40.67797%; float: right; margin-right: 0; }
