.threecol-split-row-10-2--12 .hr--1-2 .l-r:first-child, .threecol-split-row-10-2--12 .arc--3 .l-r:first-child { width: 83.05085%; float: left; margin-right: 1.69492%; }
.threecol-split-row-10-2--12 .hr--1-2 .l-r:last-child, .threecol-split-row-10-2--12 .arc--3 .l-r:nth-child(2) { width: 15.25424%; float: right; margin-right: 0; }
.threecol-split-row-10-2--12 .arc--3 .l-r:last-child { clear: both; }
