.fourcol-3-3-3-3 .arc--2 .l-r { width: 49.15254%; float: left; margin-right: 1.69492%; }
.fourcol-3-3-3-3 .arc--3 .l-r { width: 32.20339%; float: left; margin-right: 1.69492%; }
.fourcol-3-3-3-3 .arc--4 .l-r { width: 23.72881%; float: left; margin-right: 1.69492%; }
.fourcol-3-3-3-3 .l-rw:not(.arc--1) .l-r:last-child { float: right; margin-right: 0; }
