.fourcol-split-row-12--6-6--12 .hr--2-3 .l-r:first-child { width: 49.15254%; float: left; margin-right: 1.69492%; }
.fourcol-split-row-12--6-6--12 .hr--2-3 .l-r:last-child { width: 49.15254%; float: right; margin-right: 0; }
.fourcol-split-row-12--6-6--12 .hr--1-2-3 .l-r:nth-child(2) { width: 49.15254%; float: left; margin-right: 1.69492%; }
.fourcol-split-row-12--6-6--12 .hr--1-2-3 .l-r:last-child { width: 49.15254%; float: right; margin-right: 0; }
.fourcol-split-row-12--6-6--12 .hr--2-3-4 .l-r:first-child { width: 49.15254%; float: left; margin-right: 1.69492%; }
.fourcol-split-row-12--6-6--12 .hr--2-3-4 .l-r:nth-child(2) { width: 49.15254%; float: right; margin-right: 0; }
.fourcol-split-row-12--6-6--12 .hr--2-3-4 .l-r:last-child { clear: both; }
.fourcol-split-row-12--6-6--12 .arc--4 .l-r:nth-child(2) { width: 49.15254%; float: left; margin-right: 1.69492%; }
.fourcol-split-row-12--6-6--12 .arc--4 .l-r:nth-child(3) { width: 49.15254%; float: right; margin-right: 0; }
.fourcol-split-row-12--6-6--12 .arc--4 .l-r:last-child { clear: both; }
