.fourcol-split-row-12--12--4-8 .hr--3-4 .l-r { width: 32.20339%; float: left; margin-right: 1.69492%; }
.fourcol-split-row-12--12--4-8 .hr--3-4 .l-r:last-child { width: 66.10169%; float: right; margin-right: 0; }
.fourcol-split-row-12--12--4-8 .hr--1-3-4 .l-r:nth-child(2), .fourcol-split-row-12--12--4-8 .hr--2-3-4 .l-r:nth-child(2) { width: 32.20339%; float: left; margin-right: 1.69492%; }
.fourcol-split-row-12--12--4-8 .hr--1-3-4 .l-r:last-child, .fourcol-split-row-12--12--4-8 .hr--2-3-4 .l-r:last-child { width: 66.10169%; float: right; margin-right: 0; }
.fourcol-split-row-12--12--4-8 .arc--4 .l-r:nth-child(3) { width: 32.20339%; float: left; margin-right: 1.69492%; }
.fourcol-split-row-12--12--4-8 .arc--4 .l-r:last-child { width: 66.10169%; float: right; margin-right: 0; }
