.fourcol-source-ordered-12--2-7-3 .hr--3-4 .l-r { width: 57.62712%; float: left; margin-right: 1.69492%; }
.fourcol-source-ordered-12--2-7-3 .hr--3-4 .l-r:last-child { width: 40.67797%; float: right; margin-right: 0; }
.fourcol-source-ordered-12--2-7-3 .hr--2-3 .l-r:first-child { width: 57.62712%; float: right; margin-right: 0; }
.fourcol-source-ordered-12--2-7-3 .hr--2-3 .l-r:last-child { width: 40.67797%; float: left; margin-right: 1.69492%; }
.fourcol-source-ordered-12--2-7-3 .hr--2-4 .l-r:first-child { width: 57.62712%; float: left; margin-right: 1.69492%; }
.fourcol-source-ordered-12--2-7-3 .hr--2-4 .l-r:last-child { width: 40.67797%; float: right; margin-right: 0; }
.fourcol-source-ordered-12--2-7-3 .hr--1-2-3 .l-r:nth-child(2) { margin-left: 42.37288%; width: 57.62712%; float: right; margin-right: 0; }
.fourcol-source-ordered-12--2-7-3 .hr--1-2-3 .l-r:last-child { margin-left: -101.69492%; width: 40.67797%; float: left; margin-right: 1.69492%; }
.fourcol-source-ordered-12--2-7-3 .hr--1-2-4 .l-r:nth-child(2) { width: 57.62712%; float: left; margin-right: 1.69492%; }
.fourcol-source-ordered-12--2-7-3 .hr--1-2-4 .l-r:last-child { width: 40.67797%; float: right; margin-right: 0; }
.fourcol-source-ordered-12--2-7-3 .hr--1-3-4 .l-r:nth-child(2) { width: 57.62712%; float: left; margin-right: 1.69492%; }
.fourcol-source-ordered-12--2-7-3 .hr--1-3-4 .l-r:last-child { width: 40.67797%; float: right; margin-right: 0; }
.fourcol-source-ordered-12--2-7-3 .hr--2-3-4 .l-r:first-child { width: 57.62712%; float: left; margin-right: 1.69492%; margin-left: 16.94915%; }
.fourcol-source-ordered-12--2-7-3 .hr--2-3-4 .l-r:nth-child(2) { width: 15.25424%; float: left; margin-right: 1.69492%; margin-left: -76.27119%; }
.fourcol-source-ordered-12--2-7-3 .hr--2-3-4 .l-r:last-child { width: 23.72881%; float: right; margin-right: 0; }
.fourcol-source-ordered-12--2-7-3 .arc--4 .l-r:nth-child(2) { width: 57.62712%; float: left; margin-right: 1.69492%; margin-left: 16.94915%; }
.fourcol-source-ordered-12--2-7-3 .arc--4 .l-r:nth-child(3) { width: 15.25424%; float: left; margin-right: 1.69492%; margin-left: -76.27119%; }
.fourcol-source-ordered-12--2-7-3 .arc--4 .l-r:last-child { width: 23.72881%; float: right; margin-right: 0; }
