.threecol-split-row-12--10-2 .hr--2-3 .l-r, .threecol-split-row-12--10-2 .arc--3 .l-r:nth-child(2) { width: 83.05085%; float: left; margin-right: 1.69492%; }
.threecol-split-row-12--10-2 .hr--2-3 .l-r:last-child, .threecol-split-row-12--10-2 .arc--3 .l-r:last-child { width: 15.25424%; float: right; margin-right: 0; }
