.threecol-source-ordered-2-7-3 .hr--1-2 .l-r:first-child { width: 83.05085%; float: right; margin-right: 0; }
.threecol-source-ordered-2-7-3 .hr--1-2 .l-r:last-child { width: 15.25424%; float: left; margin-right: 1.69492%; }
.threecol-source-ordered-2-7-3 .hr--1-3 .l-r:first-child { width: 74.57627%; float: left; margin-right: 1.69492%; }
.threecol-source-ordered-2-7-3 .hr--1-3 .l-r:last-child { width: 23.72881%; float: right; margin-right: 0; }
.threecol-source-ordered-2-7-3 .hr--2-3 .l-r { width: 49.15254%; float: left; margin-right: 1.69492%; }
.threecol-source-ordered-2-7-3 .hr--2-3 .l-r:last-child { float: right; margin-right: 0; }
.threecol-source-ordered-2-7-3 .arc--3 .l-r:first-child { margin-left: 16.94915%; width: 57.62712%; float: left; margin-right: 1.69492%; }
.threecol-source-ordered-2-7-3 .arc--3 .l-r:nth-child(2) { margin-left: -76.27119%; width: 15.25424%; float: left; margin-right: 1.69492%; }
.threecol-source-ordered-2-7-3 .arc--3 .l-r:last-child { width: 23.72881%; float: right; margin-right: 0; }
