.threecol-source-ordered-3-5-4 .hr--1-2 .l-r:first-child { width: 74.57627%; float: right; margin-right: 0; }
.threecol-source-ordered-3-5-4 .hr--1-2 .l-r:last-child { width: 23.72881%; float: left; margin-right: 1.69492%; }
.threecol-source-ordered-3-5-4 .hr--1-3 .l-r:first-child { width: 66.10169%; float: left; margin-right: 1.69492%; }
.threecol-source-ordered-3-5-4 .hr--1-3 .l-r:last-child { width: 32.20339%; float: right; margin-right: 0; }
.threecol-source-ordered-3-5-4 .hr--2-3 .l-r { width: 49.15254%; float: left; margin-right: 1.69492%; }
.threecol-source-ordered-3-5-4 .hr--2-3 .l-r:last-child { float: right; margin-right: 0; }
.threecol-source-ordered-3-5-4 .arc--3 .l-r:first-child { width: 40.67797%; float: left; margin-right: 1.69492%; margin-left: 25.42373%; }
.threecol-source-ordered-3-5-4 .arc--3 .l-r:nth-child(2) { width: 23.72881%; float: left; margin-right: 1.69492%; margin-left: -67.79661%; }
.threecol-source-ordered-3-5-4 .arc--3 .l-r:last-child { width: 32.20339%; float: right; margin-right: 0; }
