.threecol-2-6-4 .hr--1-2 .l-r { width: 15.25424%; float: left; margin-right: 1.69492%; }
.threecol-2-6-4 .hr--1-2 .l-r:last-child { width: 83.05085%; float: left; margin-right: 1.69492%; }
.threecol-2-6-4 .hr--1-3 .l-r { width: 32.20339%; float: left; margin-right: 1.69492%; }
.threecol-2-6-4 .hr--1-3 .l-r:last-child { width: 66.10169%; float: left; margin-right: 1.69492%; }
.threecol-2-6-4 .hr--2-3 .l-r { width: 66.10169%; float: left; margin-right: 1.69492%; }
.threecol-2-6-4 .arc--3 .l-r { width: 15.25424%; float: left; margin-right: 1.69492%; }
.threecol-2-6-4 .arc--3 .l-r:nth-child(2) { width: 49.15254%; float: left; margin-right: 1.69492%; }
.threecol-2-6-4 .arc--3 .l-r:last-child, .threecol-2-6-4 .hr--2-3 .l-r:last-child { width: 32.20339%; float: left; margin-right: 1.69492%; }
.threecol-2-6-4 .arc--2 .l-r:last-child, .threecol-2-6-4 .arc--3 .l-r:last-child { float: right; margin-right: 0; }
