.threecol-source-ordered-3-9--12 .hr--1-2 .l-r:first-child { width: 74.57627%; float: right; margin-right: 0; }
.threecol-source-ordered-3-9--12 .hr--1-2 .l-r:last-child { width: 23.72881%; float: left; margin-right: 1.69492%; }
.threecol-source-ordered-3-9--12 .arc--3 .l-r:first-child { width: 74.57627%; float: right; margin-right: 0; }
.threecol-source-ordered-3-9--12 .arc--3 .l-r:nth-child(2) { width: 23.72881%; float: left; margin-right: 1.69492%; }
.threecol-source-ordered-3-9--12 .arc--3 .l-r:last-child { clear: both; }
