@charset "UTF-8";
/**
 * Elements
 * - set element global styles, basically whenever this element appears
 *   it should look like this by default.
 ============================================================================ */
html {
  font-size: 100%;
  line-height: 0.375em;
}

html,
body {
  height: 100%;
}

html {
  font-family: sans-serif;
  line-height: 24px;
  line-height: 1.5rem;
}

body {
  font-size: 16px;
  font-size: 1rem;
  line-height: 21px;
  line-height: 1.3125rem;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

ul,
ol,
dd,
dl,
p,
figure,
pre,
table,
hr,
form,
fieldset {
  margin: 0 0 18px;
  margin: 0 0 1.125rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 16px;
  margin: 0 0 1rem;
}

h1, h2, h3 {
  font-weight: 400;
}

h4, h5, h6 {
  font-weight: 600;
}

h1, .h1 {
  font-size: 42px;
  font-size: 2.625rem;
  line-height: 45px;
  line-height: 2.8125rem;
}

h2, .h2 {
  font-size: 29px;
  font-size: 1.8125rem;
  line-height: 33px;
  line-height: 2.0625rem;
}

h3, .h3 {
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 30px;
  line-height: 1.875rem;
}

h4, .h4 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 21px;
  line-height: 1.3125rem;
}

h5, .h5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 21px;
  line-height: 1.3125rem;
}

h6, .h6 {
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 15px;
  line-height: 0.9375rem;
}

h1 small, .h1 small {
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 30px;
  line-height: 1.875rem;
}

h2 small, .h2 small {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 21px;
  line-height: 1.3125rem;
}

h3 small, .h3 small,
h4 small, .h4 small {
  font-size: 16px;
  font-size: 1rem;
  line-height: 21px;
  line-height: 1.3125rem;
}

p:empty {
  display: none;
}

img {
  height: auto;
  line-height: 0;
  display: inline-block;
}

img,
embed,
object,
video {
  max-width: 100%;
}

video {
  width: 100% !important;
  height: auto !important;
}

img,
audio,
canvas,
video {
  vertical-align: middle;
}

svg {
  max-height: 100%;
}
svg:not(:root) {
  overflow: hidden;
}

figcaption {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 15px;
  line-height: 0.9375rem;
  padding: 7px 0;
  padding: 0.4375rem 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}
a:hover, a:focus {
  text-decoration: underline;
}
a img {
  border: 0;
}

ul,
ol,
dl {
  padding-left: 47px;
  padding-left: 2.9375rem;
  padding-right: 0;
}

dt {
  font-weight: 600;
}

dd {
  margin-left: 16px;
  margin-left: 1rem;
}
[dir="rtl"] dd {
  margin-left: 0;
  margin-right: 16px;
  margin-right: 1rem;
}

blockquote {
  padding: 16px;
  padding: 1rem;
  margin-left: 47px;
  margin-left: 2.9375rem;
  margin-right: 0;
  border-left: 5px solid;
}
blockquote.simple-quote {
  border: 0 none;
  padding: 0;
  margin: 0;
}
blockquote p {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 21px;
  line-height: 1.3125rem;
  font-weight: 300;
}
blockquote p:first-child {
  margin-top: 0;
}
blockquote p:first-child:before {
  font-family: FontAwesome, sans-serif;
  content: "";
  padding: 0 5px 0 0;
  padding: 0 0.3125rem 0 0;
  margin: 0;
  text-align: left;
  width: 18px;
  width: 1.125rem;
  display: none;
}
.fa-loaded blockquote p:first-child:before {
  display: inline-block;
}
[dir="rtl"] blockquote p:first-child:before {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
blockquote p:last-of-type {
  margin-bottom: 0;
}
blockquote small {
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  padding-right: 5.26316%;
  padding-left: 0;
  border-right: 5px solid;
  border-left: 0;
}
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}
blockquote.pull-right small:before {
  content: '';
}
blockquote.pull-right small:after {
  content: '\00A0 \2014';
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid;
  padding: 0;
  box-sizing: border-box;
}

code,
pre,
var,
kbd,
samp {
  font-family: "Courier New", Courier, monospace;
  overflow-x: auto;
}

pre {
  padding: 16px;
  padding: 1rem;
}

*[hidden] {
  display: none;
}

/**
 * Media
 * - styles for media objects such as iframe, video, embedding codes etc.
 ============================================================================ */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**
 * List Styles
 ============================================================================ */
ul.inline, ul.links.inline {
  padding: 0;
}
ul.inline:before, ul.inline:after, ul.links.inline:before, ul.links.inline:after {
  content: " ";
  display: table;
}
ul.inline:after, ul.links.inline:after {
  clear: both;
}
ul.inline li {
  display: inline-block;
  margin: 0 0 0 0;
  list-style: none;
}
ul.inline li ul,
ul.inline li ol {
  display: inline-block;
}
[dir="rtl"] ul.inline li {
  margin-right: 0;
  margin-left: 0;
}

.no-bullets li {
  list-style: none;
}

.no-padding {
  padding: 0;
}

.item-list__title {
  font-weight: 700;
}
.item-list__list {
  padding: 0;
}
.item-list__item {
  list-style: none;
}

.item-list--comma-list {
  display: inline;
}

.item-list--comma-list .item-list__comma-list,
.item-list__comma-list li,
[dir="rtl"] .item-list--comma-list .item-list__comma-list,
[dir="rtl"] .item-list__comma-list li {
  margin: 0;
}

.list-horizontal li {
  float: left;
  margin: 0 16px 0 16px;
  margin: 0 1rem 0 1rem;
  list-style: none;
}
.list-horizontal li ul,
.list-horizontal li ol {
  display: none;
}
[dir="rtl"] .list-horizontal li {
  margin-right: 16px;
  margin-left: 16px;
}

.list-multicolumn {
  padding: 0;
}
.list-multicolumn:before, .list-multicolumn:after {
  content: " ";
  display: table;
}
.list-multicolumn:after {
  clear: both;
}
.list-multicolumn > li {
  font-weight: 700;
  list-style: none;
}
.list-multicolumn ul, .list-multicolumn ol {
  font-weight: 400;
  padding: 0;
}

@media all and (max-width: 60em) {
  .list-multicolumn:before, .list-multicolumn:after {
    content: " ";
    display: table;
  }
  .list-multicolumn:after {
    clear: both;
  }
  .list-multicolumn > li {
    width: 12em;
    float: left;
    list-style: none;
  }
  .list-multicolumn ul, .list-multicolumn ol {
    padding: 0;
  }
  .list-multicolumn a {
    display: block;
  }
}
@media all and (max-width: 60em) {
  .dl-horizontal dt {
    float: left;
    clear: left;
    text-align: left;
    width: 11em;
  }
  .dl-horizontal dt:after {
    content: ":";
  }
  .dl-horizontal dd {
    margin-left: 12em;
    overflow: hidden;
  }
}
.list-group {
  padding-left: 0;
  margin-left: 0;
}

/**
 * Skip link
 *  - Allows keyboard users to quickly skip to the main content of the page.
 ============================================================================ */
.skip-link {
  color: #fff;
  background-color: #444;
  border-radius: 0 0 2px 2px;
  opacity: 0;
  transition: opacity 0.15s ease-in;
  z-index: 50;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  text-align: center;
  padding: 6px 16px;
  padding: 0.375rem 1rem;
}
@media all and (max-width: 45em) {
  .skip-link {
    left: 10%;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}
.skip-link:visited, .skip-link:active, .skip-link:focus {
  color: #fff;
}
.skip-link:focus {
  text-decoration: none;
  opacity: 1;
}
.skip-link.visually-hidden.focusable:focus {
  position: absolute !important;
  width: 180px;
  width: 11.25rem;
}
@media all and (max-width: 45em) {
  .skip-link.visually-hidden.focusable:focus {
    width: 80%;
  }
}

/**
 * Feed Icons
 *  - icons are SVG, SEE feed-icon.html.twig in AT Core templates directory.
 ============================================================================ */
.feed-icon {
  display: block;
  width: 16px;
  width: 1rem;
  height: 16px;
  height: 1rem;
}

/**
 * Node previews
 *  - style the preview bar a little better than default.
 ============================================================================ */
.node-preview-container {
  position: relative;
  z-index: 499;
  width: 100%;
  min-width: 100%;
  background-color: #d1e8f5;
  background-image: linear-gradient(to bottom, #d1e8f5, #d3e8f4);
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3333);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 18px 0;
  padding: 1.125rem 0;
}
.node-preview-container form {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
}
.node-preview-container form:after {
  content: " ";
  display: block;
  clear: both;
}
@media all and (max-width: 45em) {
  .node-preview-container .form-item-view-mode {
    display: block !important;
  }
}

.node-preview-backlink {
  float: left;
  margin-right: 18px;
  margin-right: 1.125rem;
}
@media all and (max-width: 45em) {
  .node-preview-backlink {
    float: none;
    display: block;
    margin: 0 0 11px;
    margin: 0 0 0.6875rem;
  }
}
.node-preview-backlink:before {
  font-family: FontAwesome, sans-serif;
  content: "";
  padding: 0 7px 0 0;
  padding: 0 0.4375rem 0 0;
  margin: 0;
  display: none;
}
.fa-loaded .node-preview-backlink:before {
  display: inline-block;
}
[dir="rtl"] .node-preview-backlink:before {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.node-preview-form-select {
  margin: 18px 0;
  margin: 1.125rem 0;
  padding: 0 18px;
  padding: 0 1.125rem;
}
.node-preview-form-select .form-select {
  min-width: 160px;
  min-width: 10rem;
}

/**
 * CK Editor
 * - classes and styles set by CK Editor.
 ============================================================================ */
.text-align-justify {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

/**
 * States.
 ============================================================================ */
/**
 * AT attribution message
 *  - a toggle setting in the theme settings, you can turn it on/off using
 *    the Markup overrides extension.
 ============================================================================ */
.attribution {
  text-align: right;
}
.attribution__link {
  text-decoration: none;
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 15px;
  line-height: 0.9375rem;
  display: inline-block;
  padding-bottom: 6px;
  padding-bottom: 0.375rem;
}

/**
 * Utility
 * - useful classes to be used anywhere.
 ============================================================================ */
.is-vertical-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-filter: blur(0.1px);
          filter: blur(0.1px);
}

.is-vertical-top {
  position: absolute;
  top: 0;
  bottom: auto;
}

.is-vertical-bottom {
  position: absolute;
  top: auto;
  bottom: 0;
}

.is-horizontal-center {
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
  display: table;
}

.is-horizontal-left {
  left: 0;
  right: auto;
}

.is-horizontal-right {
  left: auto;
  right: 0;
}
/*# sourceMappingURL=maps/base.css.map */