.threecol-split-row-12--8-4 .hr--2-3 .l-r, .threecol-split-row-12--8-4 .arc--3 .l-r:nth-child(2) { width: 66.10169%; float: left; margin-right: 1.69492%; }
.threecol-split-row-12--8-4 .hr--2-3 .l-r:last-child, .threecol-split-row-12--8-4 .arc--3 .l-r:last-child { width: 32.20339%; float: right; margin-right: 0; }
