.fourcol-source-ordered-12--3-6-3 .hr--3-4 .l-r { width: 49.15254%; float: left; margin-right: 1.69492%; }
.fourcol-source-ordered-12--3-6-3 .hr--3-4 .l-r:last-child { float: right; margin-right: 0; }
.fourcol-source-ordered-12--3-6-3 .hr--2-3 .l-r:first-child { width: 74.57627%; float: right; margin-right: 0; }
.fourcol-source-ordered-12--3-6-3 .hr--2-3 .l-r:last-child { width: 23.72881%; float: left; margin-right: 1.69492%; }
.fourcol-source-ordered-12--3-6-3 .hr--2-4 .l-r:first-child { width: 74.57627%; float: left; margin-right: 1.69492%; }
.fourcol-source-ordered-12--3-6-3 .hr--2-4 .l-r:last-child { width: 23.72881%; float: right; margin-right: 0; }
.fourcol-source-ordered-12--3-6-3 .hr--1-2-3 .l-r:nth-child(2) { margin-left: 25.42373%; width: 74.57627%; float: right; margin-right: 0; }
.fourcol-source-ordered-12--3-6-3 .hr--1-2-3 .l-r:last-child { margin-left: -101.69492%; width: 23.72881%; float: left; margin-right: 1.69492%; }
.fourcol-source-ordered-12--3-6-3 .hr--1-2-4 .l-r:nth-child(2) { width: 74.57627%; float: left; margin-right: 1.69492%; }
.fourcol-source-ordered-12--3-6-3 .hr--1-2-4 .l-r:last-child { width: 23.72881%; float: right; margin-right: 0; }
.fourcol-source-ordered-12--3-6-3 .hr--1-3-4 .l-r:nth-child(2) { width: 74.57627%; float: left; margin-right: 1.69492%; }
.fourcol-source-ordered-12--3-6-3 .hr--1-3-4 .l-r:last-child { width: 23.72881%; float: right; margin-right: 0; }
.fourcol-source-ordered-12--3-6-3 .hr--2-3-4 .l-r:first-child { width: 49.15254%; float: left; margin-right: 1.69492%; margin-left: 25.42373%; }
.fourcol-source-ordered-12--3-6-3 .hr--2-3-4 .l-r:nth-child(2) { width: 23.72881%; float: left; margin-right: 1.69492%; margin-left: -76.27119%; }
.fourcol-source-ordered-12--3-6-3 .hr--2-3-4 .l-r:last-child { width: 23.72881%; float: right; margin-right: 0; }
.fourcol-source-ordered-12--3-6-3 .arc--4 .l-r:nth-child(2) { width: 49.15254%; float: left; margin-right: 1.69492%; margin-left: 25.42373%; }
.fourcol-source-ordered-12--3-6-3 .arc--4 .l-r:nth-child(3) { width: 23.72881%; float: left; margin-right: 1.69492%; margin-left: -76.27119%; }
.fourcol-source-ordered-12--3-6-3 .arc--4 .l-r:last-child { width: 23.72881%; float: right; margin-right: 0; }
