.fourcol-split-row-4-8--8-4 .arc--2 .l-r, .fourcol-split-row-4-8--8-4 .arc--3 .l-r:first-child, .fourcol-split-row-4-8--8-4 .arc--4 .l-r:first-child, .fourcol-split-row-4-8--8-4 .arc--4 .l-r:last-child { width: 32.20339%; float: left; margin-right: 1.69492%; }
.fourcol-split-row-4-8--8-4 .arc--2 .l-r:last-child { width: 66.10169%; float: right; margin-right: 0; }
.fourcol-split-row-4-8--8-4 .arc--3 .l-r:nth-child(2) { width: 66.10169%; float: right; margin-right: 0; }
.fourcol-split-row-4-8--8-4 .arc--3 .l-r:last-child { clear: both; }
.fourcol-split-row-4-8--8-4 .arc--4 .l-r { width: 66.10169%; float: left; margin-right: 1.69492%; }
.fourcol-split-row-4-8--8-4 .arc--4 .l-r:nth-child(2n) { float: right; margin-right: 0; }
