.atl--grid-3x3 > .atl__lc { margin-bottom: 1.69492%; }

.bp--tablet .atl--grid-3x3 > .atl__lc { width: 49.15254%; float: left; }
.bp--tablet .atl--grid-3x3 > .atl__lc:nth-child(2n + 1) { margin-left: 0; margin-right: -100%; clear: both; margin-left: 0; }
.bp--tablet .atl--grid-3x3 > .atl__lc:nth-child(2n + 2) { margin-left: 50.84746%; margin-right: -100%; clear: none; }

.bp--wide .atl--grid-3x3 > .atl__lc { width: 32.20339%; float: left; }
.bp--wide .atl--grid-3x3 > .atl__lc:nth-child(3n + 1) { margin-left: 0; margin-right: -100%; clear: both; margin-left: 0; }
.bp--wide .atl--grid-3x3 > .atl__lc:nth-child(3n + 2) { margin-left: 33.89831%; margin-right: -100%; clear: none; }
.bp--wide .atl--grid-3x3 > .atl__lc:nth-child(3n + 3) { margin-left: 67.79661%; margin-right: -100%; clear: none; }
