.fivecol-source-ordered-2-2-4-2-2 .arc--2 .l-r { width: 49.15254%; float: left; margin-right: 1.69492%; }
.fivecol-source-ordered-2-2-4-2-2 .arc--2 .l-r:last-child { float: right; margin-right: 0; }
.fivecol-source-ordered-2-2-4-2-2 .arc--3 .l-r { width: 32.20339%; float: left; margin-right: 1.69492%; }
.fivecol-source-ordered-2-2-4-2-2 .arc--3 .l-r:last-child { float: right; margin-right: 0; }
.fivecol-source-ordered-2-2-4-2-2 .arc--4 .l-r { width: 32.20339%; float: left; margin-right: 1.69492%; }
.fivecol-source-ordered-2-2-4-2-2 .arc--4 .l-r:first-child, .fivecol-source-ordered-2-2-4-2-2 .arc--4 .l-r:last-child { width: 15.25424%; float: left; margin-right: 1.69492%; }
.fivecol-source-ordered-2-2-4-2-2 .arc--5 .l-r { width: 15.25424%; float: left; margin-right: 1.69492%; }
.fivecol-source-ordered-2-2-4-2-2 .arc--5 .l-r:first-child { width: 32.20339%; float: left; margin-right: 1.69492%; margin-left: 33.89831%; }
.fivecol-source-ordered-2-2-4-2-2 .arc--5 .l-r:nth-child(2) { margin-left: -67.79661%; }
.fivecol-source-ordered-2-2-4-2-2 .arc--5 .l-r:nth-child(3) { margin-left: -50.84746%; }
.fivecol-source-ordered-2-2-4-2-2 .arc--5 .l-r:last-child { float: right; margin-right: 0; }
