.bp--wide .atl--twocol-6-6.l-arc--2 > .atl__lr > .atl__lc, .bp--tablet .atl--twocol-6-6.l-arc--2 > .atl__lr > .atl__lc { width: 49.15254%; float: left; margin-right: 1.69492%; }
.bp--wide .atl--twocol-6-6.l-arc--2 > .atl__lr > .atl__lc:last-child, .bp--tablet .atl--twocol-6-6.l-arc--2 > .atl__lr > .atl__lc:last-child { float: right; margin-right: 0; }
