.sixcol-6-2x3 .arc--2 .l-r { width: 49.15254%; float: left; margin-right: 1.69492%; }
.sixcol-6-2x3 .arc--2 .l-r:last-child { float: right; margin-right: 0; }
.sixcol-6-2x3 .arc--3 .l-r:first-child { width: 49.15254%; float: left; margin-right: 1.69492%; }
.sixcol-6-2x3 .arc--3 .l-r:nth-child(2) { width: 49.15254%; float: right; margin-right: 0; }
.sixcol-6-2x3 .arc--3 .l-r:last-child { clear: both; }
.sixcol-6-2x3 .arc--5 .l-r { width: 49.15254%; float: left; margin-right: 1.69492%; }
.sixcol-6-2x3 .arc--5 .l-r:nth-child(2n) { float: right; margin-right: 0; }
.sixcol-6-2x3 .arc--5 .l-r:last-child { width: 100%; float: left; margin-left: 0; margin-right: 0; clear: both; }
.sixcol-6-2x3 .arc--4 .l-r, .sixcol-6-2x3 .arc--6 .l-r { width: 49.15254%; float: left; }
.sixcol-6-2x3 .arc--4 .l-r:nth-child(2n + 1), .sixcol-6-2x3 .arc--6 .l-r:nth-child(2n + 1) { margin-left: 0; margin-right: -100%; clear: both; margin-left: 0; }
.sixcol-6-2x3 .arc--4 .l-r:nth-child(2n + 2), .sixcol-6-2x3 .arc--6 .l-r:nth-child(2n + 2) { margin-left: 50.84746%; margin-right: -100%; clear: none; }
