.fivecol-6-6--4-4-4 .arc--2 .l-r { width: 49.15254%; float: left; margin-right: 1.69492%; }
.fivecol-6-6--4-4-4 .arc--2 .l-r:last-child { float: right; margin-right: 0; }
.fivecol-6-6--4-4-4 .arc--3 .l-r { width: 32.20339%; float: left; margin-right: 1.69492%; }
.fivecol-6-6--4-4-4 .arc--3 .l-r:last-child { float: right; margin-right: 0; }
.fivecol-6-6--4-4-4 .arc--3 .l-r { width: 23.72881%; float: left; margin-right: 1.69492%; }
.fivecol-6-6--4-4-4 .arc--3 .l-r:last-child { float: right; margin-right: 0; }
.fivecol-6-6--4-4-4 .arc--5 .l-r { width: 32.20339%; float: left; margin-right: 1.69492%; }
.fivecol-6-6--4-4-4 .arc--5 .l-r:first-child, .fivecol-6-6--4-4-4 .arc--5 .l-r:nth-child(2) { width: 49.15254%; float: left; margin-right: 1.69492%; }
.fivecol-6-6--4-4-4 .arc--5 .l-r:last-child, .fivecol-6-6--4-4-4 .arc--5 .l-r:nth-child(2) { float: right; margin-right: 0; }
